h1{
    font-size: 28px;
    font-family: 'Avenir Next', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
    text-align: left;
    color: #e6e6e6;
    padding: 20px 66px 30px 22px;
    }

h2{
    font-size: 24px;
    font-family: 'Avenir Next', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
    text-align: left;
    color: #e6e6e6;
    padding: 20px 66px 30px 22px;
}

body{
background: url("../static/mountain.jpg") ;
background-color: rgba(5,5,5, .85);

height: 500px;


background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
} 

p{
font-family: 'Avenir', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
color: white;
}

nav{
font-family: 'Avenir', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
}



.icon{
display: block;
height : 140px;
width : 140px;
border-radius: 50%;
border-width: 5px;
border-style: solid;
border-color: #e6e6e6;
margin:auto;
}

.face{
display: block;
height : 40px;
width : 40px;
border-radius: 50%;
border-width: 1px;
border-style: solid;
border-color: #e6e6e6;
margin: -10px -10px -10px -3px;
}

.icon-div{
padding-top:30px;
}

.about-me{
font-size: 15px;
font-family: 'Avenir', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: left;
color: #e6e6e6;
width: 90%;
margin: auto;
}

.border{
border: 2px solid black;
margin: 80px 40px;
}

.color-bg{
background-color: rgba(5,5,5,0.85);
}

@media screen and (max-width: 768px){
    body{
    background: url("../static/mountain.jpg") ;
    background-color: rgba(0,0,0, .5);
    background-size: 100% auto;
    background-blend-mode:lighten;
    background-repeat: repeat;
    }
}