h1{
    font-size: 72px;
    font-family: 'Avenir';
    text-align: left;
    color: white;
    padding: 20px 66px 30px 22px;
    }

h2{
    font-size: 24px;
    font-family: 'Avenir Next', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
    text-align: left;
    color: white;
    padding: 20px 66px 30px 22px;
}

/*body{
background: url("../static/mountain.jpg") ;
background-color: rgba(5,5,5, .85);

height: 500px;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
} */
body{
    background-color:#111;
}

p{
font-family: 'Avenir', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
color: white;
}

nav{
font-family: 'Avenir', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
}

.icon{
display: block;
height : 140px;
width : 140px;
border-radius: 50%;
border-width: 5px;
border-style: solid;
border-color: #e6e6e6;
margin:auto;
}

.face{
display: block;
height : 40px;
width : 40px;
border-radius: 50%;
border-width: 1px;
border-style: solid;
border-color: #e6e6e6;
margin: -10px -10px -10px -3px;
}

.icon-div{
padding-top:30px;
}

.about-me{
font-size: 15px;
font-family: 'Avenir', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: left;
color: white;
width: 90%;
margin: auto;
}

.blog{
font-size: 18px;
font-family: 'Avenir', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: left;
color: white;
width: 72%;
margin: auto;
}

.blog-date{
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
    text-align: left;
    color: white;
}

.border{
border: 2px solid black;
margin: 80px 40px;
}

.parallax-table-cell{
background-color: rgba(5,5,5,0.5);
margin: 0px 40px;
display: table-cell;
text-align: center;
vertical-align: middle;
}

.button {
    background-color: #000000; /* Green */
    border: 4px solid white;
    color: white;
    padding: 15px 32px;
    margin: 0px 20px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    font-family: "Avenir";
}

.box1{
    height: 100vh;
    width: 100%;
    background-image: url(../static/belltower.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: table;
}

.box2{
    height: 100vh;
    width: 100%;
    background-image: url(../static/campus.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: table;
}

.box3{
    height: 100vh;
    width: 100%;
    background-image: url(../static/mountain.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: table;
}

.blackbox{
    height: 100vh;
    width: 100%;
    background-color: #111;
    background-size: cover;
    background-attachment: fixed;
    display: table;
}

@media screen and (max-width: 768px){
    body{
    background: url("../static/mountain.jpg") ;
    background-size: 100% auto;
    background-blend-mode:lighten;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
}