.Navbar-shadow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 75px;
    background-color: white;
    -webkit-box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.5); 
    box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.5);
    z-index: 2;
}

.Navbar-no-shadow {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 105px;
    background-color: white;
    -webkit-box-shadow: none;
    box-shadow: none;
    z-index: 2;
}

.NameLeft {
    font-family: 'Avenir';
    color: rgb(0, 94, 117);
    font-weight: 800;
    font-size: 25px;
    padding: 6px 12px;
    align-content: center;
    background: -webkit-radial-gradient(left, rgb(0, 94, 117), #04f1f1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Navbar-Right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.Navbar-Left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin-left: 200px;
}

@font-face {
    font-family: "Avenir";
    src: url("../Resources/Fonts/Avenir Roman.otf") format("opentype");
}

@media (max-width: 812px) {
    .Navbar-no-shadow {
        display: flex;
        justify-content: center;
        position: fixed;
        width: 100%;
        height: 105px;
        background-color: white;
        box-shadow: none;
        z-index: 2;
    }
    
    .Navbar-Right {
        display: flex;
        font-size: 15px;
        align-items: center;
        height: 100%;
    }
    
    .Navbar-Left {
        display: none;
    }
}