

.SlideIn-enter {
  transform: translateY(-200vh);
}
.SlideIn-enter.SlideIn-enter-active {
  transform: translateY(0);
  transition: all 0.8s;
}
.SlideIn-exit {
  transform: translateY(0);
}
.SlideIn-exit.SlideIn-exit-active {
  /* position: absolute; */
  transform: translateY(-400vh);
  transition: all 0.8s ;
}
